:root {
    --primary: #80b918;
    --secondary: #0077b6;
    --dark: #131A26;
    --light: #EEEEEE;
    --grey: #888888;


    --font: 'Fira Sans', sans-serif;
    --font-quote: 'Fira Code', monospace;

}

* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    font-family: var (--font);
}

body {
    background-color: var(--light);

}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    min-height:  100vh;
}
.quote{
    position: relative;
}

blockquote {
    font-family: var(--font-quote);
    max-width: 720px;
    font-size: 2rem;
    background-color: var(--dark);
    padding: 3rem;
    border-radius: 0.5rem;
    color: #ffff;

}

.anime, .author {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    color:  var(--light);
    border-radius: 1.5rem;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: 1px;
    max-width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;


}

.anime {
    background-color: var(--secondary);
    font-weight: 400;
    transform: translate(-20%, 50%);
}

.author {
    background-color: var(--primary);
    font-weight: 700;
    transform: translate(20%, 50%);
    position: absolute;
    right: 0;
    bottom: 0;
}

button {
    appearance: none;
    border: none;
    outline: none;

    background-color: var(--secondary);
    color: #ffff;
    border-radius: 3rem;
    padding: 0.75rem 1.5rem;
    transition: 0.2s;
    cursor: pointer;
    margin-top: 150px;
    margin-bottom: 64px;
    font-family: roboto;
    font-size: 1.7rem;
    font-weight: 500;
    position: fixed;
    transform: translate(0%, 300%);
    

}

button:hover {
    background-color: var(--secondary);

}

.textoPrueba {
    color: #131A26;
}